.navigationBarBorder {
  float: left;
  width: 14%;
  height: 800px;
  border: 1px dashed #ccc;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  background-color: skyblue;
}

.navigationBarBorder ul {
  font-weight: bold;
  align-content: center;
}